<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="style.css"></link>
    <title>Basic Tetris</title>
  </head>
  <body>
  <!-- UPDATE HERE -->
<div class="overlay" id="paneloverlay">
	<audio id="myAudio">
		<source src="https://bzozoo.github.io/Tetris-Basic/tetrisTheme.mp3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>

	<div id="rewardContainer">
		<div id="rewardPicDiv">

		</div>
	</div>

	<div id="gameOverDiv" class="hideByOpacity">
		<div id="overScore">0000</div>
	</div>

	<div class="container">

		<div class="grid-bg"></div>

		<div class="grid">
		</div><!-- GRID DIV END-->

		<div class="sidebar">

			<div id="scoreBox">
				<p>
					<strong>
						S C O R E
					</strong>
				</p>
				<p id="scoreDisplay">0</p>
			</div>

			<div class="mini-grid">

				<div class="first-in-minirow"></div>
				<div><strong>N</strong></div>
				<div><strong>E</strong></div>
				<div><strong>X</strong></div>
				<div><strong>T</strong></div>
				<div></div>

				<div class="first-in-minirow"></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>

				<div class="first-in-minirow"></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>

				<div class="first-in-minirow"></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>

				<div class="first-in-minirow"></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>

				<div class="first-in-minirow"></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>

			</div>
			
			<div id="speedBox">
				<strong>SPEED</strong><span id="speedDisplay">0</span>
			</div>

			<div class="actions">
				<p>
					<button class="actionBtn" id="loginBtn">⚡ LOGIN</button>
					<button class="actionBtn hidden" id="profileBtn">👤 PROFILE</button>
				</p>
				<p>
					<button class="actionBtn" id="start-button">▶ START</button>
				</p>
				<p>
					<button class="actionBtn" id="muteButton">🔇 MUTE</button>
				</p>
				<p>
					<button class="actionBtn" id="resetButton">↺ RESET GAME</button>
				</p>
				<p>
					<button class="actionBtn" id="optionsButton">⚙️ OPTIONS</button>
				</p>

			</div>
		</div>
	</div>

	<div id="logo">
		Bzozoo Tetris Basic <span id="version">{{ version }}</span>
	</div>

	<div class="controlls" id="controllButtonsSection">
		<p>
			<button class="gombBtn" id="leftMove"> ◄ </button>
			<button class="gombBtn" id="rightMove"> ► </button>
			<button class="gombBtn" id="downMove">▼</button>
			<button class="gombBtn" id="rotation">🔄</button>
		</p>
	</div>

</div>

<div id="highscore" class="modal hidden flexcolumn">
	<div class="navbar">
		<div class="title">HIGHSCORE</div>
		<div class="navbtns"><button class="actionBtn" id="closeHighScore">X</button></div>
	</div>
	<div id="highscorecontent" class="panel">
		<!-- {{ HIGH SCORE }} -->

	</div>
</div>

<div id="userzone" class="modal hidden">
	<div class="navbar">
		<div class="title">USER ZONE</div>
		<div class="navbtns"><button class="actionBtn" id="closeUserZone">X</button></div>
	</div>

	<div id="login" class="panel">
		<!-- {{ IF USER NOT LOGGED IN }} -->
	</div>
	<div id="usercontainer" class="panel">
		<!-- {{ IF USER  LOGGED IN }} -->
	</div>
</div>

<div id="optionspanel" class="modal hidden">
	<div class="navbar">
		<div class="title">OPTIONS</div>
		<div class="navbtns"><button class="actionBtn" id="closeOPtions">X</button></div>
	</div>
	<div id="optionscontainer">
		<div class="actions">
			<p>
				<input type="checkbox" name="effect" id="effect" checked /><label for="effect">BOOM EFFECT</label>
			</p>
			<p>
				<input type="checkbox" name="invert" id="invert" /> <label for="invert">INVERT ¿</label>
			</p>
			<p>
				<input type="checkbox" name="reward" id="reward" checked /> <label for="reward">REWARD</label>
			</p>
			<p>
				<input type="checkbox" name="weird" id="weird" /> <label for="weird">WEIRDMOD</label>
			</p>
		</div>
	</div>
</div>

<div id="scoresavedbox" class="modal hidden">
	SCORE SAVED
</div>  
	  
  <!-- UPDATE EBD-->
	<script src="./js/sweetalert.js"></script>
  	<script src="./js/app.js" charset="utf-8"></script>
  </body>
</html>
