body {
  font-family: sans-serif;
  margin: 5px;
  background-color: #00a8f3;
  height: 100%;
  width: 400px;
  overflow: hidden;
  touch-action: manipulation;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;*/ /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.container {
  margin: 5px;
  display: flex;
  min-width: 392px;
}

#gameOverDiv {
  background: url(https://bzozoo.github.io/Tetris-Basic/images/gameover.jpg);
  min-width: 200px;
  width: 250px;
  height: 526px;
  margin-top: 2px;
  margin-left: 7px;
  position: absolute;
  z-index: 1;
  font-family: sans-serif;
  /*display: none;*/
}

.activegameplace {
	/*background-image: url("https://raw.githubusercontent.com/bzozoo/Tetris-Basic/master/images/boomm.gif");*/
	background-size: contain;
	background-repeat: no-repeat;
}

#rewardContainer {
  /* background: green; */
  min-width: 200px;
  width: 251px;
  height: 526px;
  margin-top: 5px;
  margin-left: 7px;
  position: absolute;
  /*display: none;*/
  z-index: -1;
}

#rewardPicDiv {
  background: yellow;
  /* opacity: 0.6; */
  height: 0%;
  max-height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 526px;
 }

#scoreDisplay {
  font-size: 30px;
  color: red;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: sans-serif;
}

#scoreBox {
  font-family: sans-serif;
  margin-bottom: 15px;
  border: 2px black solid;
  padding: 0px;
  width: 115px;
  height: 60px;
  background-color: #bbdaf7;
  box-shadow: 5px 5px 10px 5px grey;
  text-align: center;
  color: #3f48cc;
}

#scoreBox p {
  margin: 1px;
}

#overScore {
    margin-top: 340px;
    width: 100%;
    text-align: center;
    color: blue;
    font-size: 30px;  
}  


.actions {
  text-align: left;
}

.actions button {
  width: 115px;
  text-align: center;
   
}

.controlls {
  margin-left: 30px;
  padding-top: 0px;
}

.gombBtn {
  background-color: #3f48cc;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px 5px grey;
  margin-right: 15px;
  border-width: 10px;
  font-size: 20px;
}

.actionBtn {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}

.actionBtn:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.actionBtn:active {
	position:relative;
	top:1px;
}

button:active{
  background-color:red;
  box-shadow: none;
}


.hidden {
  display: none;
}

.grid {
  /* transform: rotate(180deg);
  */
  border: 2px black solid;
  min-width: 200px;
  width: 250px;
  height: 525px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: #d0f5a9;*/
  /* box-shadow: 5px 5px 10px 5px grey; */
}

.grid-bg {
  border: 2px black solid;
  min-width: 200px;
  width: 250px;
  height: 524px;
  flex-wrap: wrap;
  background-color: #bbdaf7;
  box-shadow: 5px 5px 10px 5px grey;
  position: absolute;
  z-index: -2;
}

.transformed {
  box-shadow: -5px -5px 10px 5px grey;
}

.grid div {
  height: 25px;
  width: 25px;
  font-size: 10px;
}

.tetromino {
  background-color: blue;
  opacity: 0.6;
}

.sidebar {
  margin-left: 10px;
}

.mini-grid {
  font-family: sans-serif;
  border: 2px black solid;
  padding: 0px;
  width: 115px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  background-color: #bbdaf7;
  box-shadow: 5px 5px 10px 5px grey;
  text-align: center;
  color: #3f48cc;
   font-weight: bold;
}

.mini-grid div {
  height: 20px;
  width: 19px;
}

button:focus {
  outline: none;
}


#userzone {
   position: fixed;
   background: #00a8f3;
   border: 5px solid #2b577d;
   z-index: 11;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 3px;
   margin: 6px;
   color: white;
}

.overlay {
   position: fixed;
   z-index: 10;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   transition: all 1s linear;
}

.blured {
   pointer-events:none;
   filter: blur(8px);
   -webkit-filter: blur(8px);
}

#optionspanel {
   height: auto;
   min-width: 180px;
   max-width: 300px;
   position: fixed;
   background: #00a8f3;
   border: 5px solid #2b577d;
   z-index: 12;
   top: 0;
   right: 0;
   left: 0;
   padding: 3px;
   margin: 40px;
   margin-top: 100px;
   color: white;
}

.navbar {
   background: #4452985e;
   height: 30px;
   padding: 5px;
   font-size: larger;
   margin-bottom: 5px;
}

.title {
   float: left;
   padding: 3px;
}

.navbtns {
   float: right;
}

#logo {
   color: #3f48cc;
   font-size: inherit;
   /* margin: 5px; */
   padding-top: 8px;
   text-align: center;
   max-width: 400px;
}
